version: '3'

volumes:
    prometheus_data: {}
    grafana_storage: {}

services:
  qdrant:
    image: qdrant/qdrant:latest
    container_name: monitoring_qdrant
    command: ['./qdrant', '--snapshot', '/qdrant/snapshots/arxiv_titles-3083016565637815127-2023-05-29-13-56-22.snapshot:test-collection', '--force-snapshot']
    expose:
      - 6333
    ports:
      - '6333:6333'
    volumes:
      - ./arxiv_titles-3083016565637815127-2023-05-29-13-56-22.snapshot:/qdrant/snapshots/arxiv_titles-3083016565637815127-2023-05-29-13-56-22.snapshot

  prometheus:
    image: prom/prometheus
    container_name: monitoring_prometheus
    restart: unless-stopped
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - ./prometheus/prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/usr/share/prometheus/console_libraries'
      - '--web.console.templates=/usr/share/prometheus/consoles'
    ports:
      - '9090:9090'
    links:
      - cadvisor:cadvisor
      - node-exporter:node-exporter
      - qdrant:qdrant

  node-exporter:
    image: prom/node-exporter
    container_name: monitoring_node_exporter
    volumes:
#      - /proc:/host/proc:ro
      - /mnt/windows_proc/:/host/proc:ro
#      - /sys:/host/sys:ro
      - /mnt/windows_sys/:/host/sys:ro
    restart: unless-stopped
    command:
      - '--path.procfs=/host/proc'
      - '--path.sysfs=/host/sys'
      - --collector.filesystem.mount-points-exclude
      - "^/(sys|proc|dev|host|etc|rootfs/var/lib/docker/containers|rootfs/var/lib/docker/overlay2|rootfs/run/docker/netns|rootfs/var/lib/docker/aufs)($$|/)"
    ports:
      - '9100:9100'

  cadvisor:
    image: google/cadvisor:latest
    container_name: monitoring_cadvisor
    restart: unless-stopped
    privileged: true
    volumes:
#      - /:/rootfs:ro
      - /var/run:/var/run:rw
#      - /sys:/sys:ro
      - /mnt/windows_sys/:/host/sys:ro
#      - /var/lib/docker/:/var/lib/docker:ro
      - /mnt/windows_docker/:/var/lib/docker:ro
#      - /mnt/my-docker/version-pack-data/community/docker:/rootfs/var/lib/docker:ro
      - /mnt/windows_docker/:/rootfs/var/lib/docker:ro
#      - /dev/disk:/dev/disk/:ro
      - /mnt/windows_dev/disk:/dev/disk/:ro
      - /etc/machine-id:/etc/machine-id:ro
    ports:
      - '8080:8080'

  grafana:
    image: grafana/grafana:latest
    container_name: monitoring_grafana
    restart: unless-stopped
    depends_on:
      - prometheus
    links:
      - prometheus:prometheus
    volumes:
      - ./grafana/grafana_storage:/var/lib/grafana
      - ./grafana/provisioning/:/etc/grafana/provisioning/
    env_file:
      - ./grafana/config.monitoring
    ports:
      - '3000:3000'